
.detail_track{
    font-size: 30px;
}
.detalle_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.detalle_content{
    background-color: rgb(78, 109, 120);
    padding: 90px;
    margin: 20px;
    border-radius: 20px;
    border: 5px rgb(235, 235, 242) solid;

}

.content_addsong{
    background-color: rgb(38, 55, 70);
    border: solid 3px rgb(23, 42, 58);
    padding: 5px;
    border-radius: 50px;
    color: rgb(196, 205, 212);
}

.body_track{
    font-family: 'Work Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: right;
   text-align: center;
 
}
.container{
    display: flex;
    justify-content: center;
background-color: lightblue;
    flex-direction: column;
}
.imagen{
    width: 150px;
    height: 150px;
    align-self: center;
}