.content{
    background-color:rgb(36, 35, 35);
    margin: 100px;
    padding: 30px;
    color:darkgrey;
    border-radius: 20px;
    border: solid 5px rgb(0, 0, 0);

}
p.hidden{
    display:none
}
p.show{
    display:block
}
.canciones{
    display: flex;
    flex-direction: row;
}