.container {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    flex-direction: column;
}

.title{
    font-family: 'Work Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: right;
   text-align: center;
}

.imagen{
    width: 150px;
    height: 150px;
    align-self: center;
}

.lista{
    font-family: 'Work Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: right;
   text-align: center;
   
}
